{% extends 'baseLogin.html.twig' %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}
    <section class="container my-3">
        <div class="row">
            <div class="col">

                <p>veuillez cliquer sur ce lien pour réinitialiser votre mot de passe </p>
{#                {{ form_start(passForm) }}#}
{#                {{ form_row(passForm.password) }}#}
{#                <a href="#"> click here to reset </a>#}
{#                {{ form_end(passForm) }}#}
<br>
                <a href="{{ url|raw }}">{{ url|raw }}</a>


            </div>
        </div>
    </section>

{% endblock %}