{% block title %}Liste des oeuvres{% endblock %}
<div class="p-5">
    <div class="row">
        <div class="col">
            <h2>Liste des oeuvres</h2>
        </div>
    </div>

        <p>Id Oeuvre : {{  produit.Idprod }}</p>
        <p>Artiste : {{ produit.Nomprod }}</p>
        <p>Prix : {{ produit.Prixprod }}</p>
        <p>Localisation : {{ produit.Localisationprod }}</p>
        <p>Type : {{ produit.Typeprod }}</p>
        <p>Statut : {{ produit.Typestatue }}</p>


                    <!-- Table with stripped rows -->
    </div>


