{% extends 'front-seif.html.twig' %}

{% block title %}shop{% endblock %}

 {% block body %}
     <h1 style="margin-left:46%;font-size: 45px ">Nos Oeuvres</h1>
     <br><br>
     {# display navigation #}
     <div class="navigation" style="margin-left:46%">
         {{ knp_pagination_render(produits) }}
     </div>

     <div class="shop-box-inner">
         <div class="container">
             <div class="row">
                 <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right" style="min-width: 1100px">
                     <div class="right-product-box">


                         <div class="product-categorie-box">
                             <div class="tab-content">

                                 <div role="tabpanel" class="tab-pane fade show active" id="grid-view">

                                     <div class="row">
                                         {% for produit in produits %}
                                         <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                             <div class="products-single fix">
                                                 <div class="box-img-hover" style="object-fit: cover">

                                                     <img src={{ asset('uploads/' ~produit.imagem1) }} class="img-fluid" alt="Image" style="height: 200px;width: 200px">
                                                     <div class="mask-icon">
                                                         <ul>
                                                             <li><a href="{{ path('app_shop_like',{'idprod':produit.idprod} )  }}" data-toggle="tooltip" data-placement="right" title="Like"><i class="far fa-heart"></i></a></li>
                                                             <li><a href="{{ path('app_shop_dislike',{'idprod':produit.idprod})   }}" data-toggle="tooltip" data-placement="right" title="Dislike"><i class="far fa-heart"></i></a></li>
                                                         </ul>
                                                         <a class="cart" href="{{ path('app_panier_ajouter', {'idprod' : produit.idprod})}}">Ajouter au panier</a>
                                                     </div>
                                                 </div>
                                                 <div class="why-text">
                                                     <a href="{{ path('app_shop_show' , {'idprod': produit.idprod}) }}"><h4>{{ produit.nomprod }}</h4></a>
                                                     <h5> {{ '$' ~ produit.prixprod }}</h5>
                                                 </div>
                                             </div>
                                         </div>
                                         {% endfor %}
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>

     <br><br><br><br><br><br>
 {% endblock %}

