{% extends getRole(app.request) == "ROLE_ARTISTE" ? "base-back-artiste.html.twig" :  getRole(app.request) == "ROLE_PRESTATAIRE"  ? 'base-back-prest.html.twig' : 'base-back.html.twig' %}





{% block title %}Salle index{% endblock %}



{% block body %}


    <h1 class="text-primary" style="margin-left: 35%">Salles Index</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="table table-bordered border-primary">
        <thead>
        <tr>
            <th class="h5">Id</th>
            <th class="h5">Nom</th>
            <th class="h5">Type</th>
            <th class="h5">Statu</th>
            <th class="h5">Prix</th>
            <th class="h5">Capacite</th>
            <th class="h5">Image</th>
            <th class="h5">actions</th>
        </tr>
        </thead>
        <tbody>
        {% for salle in salles %}
            <tr>
                <td class="h5">{{ salle.id }}</td>
                <td class="h5">{{ salle.nom }}</td>
                <td class="h5">{{ salle.type }}</td>
                <td class="h5">{{ salle.statu }}</td>
                <td class="h5">{{ salle.prix }}</td>
                <td class="h5">{{ salle.capacite }}</td>
                <td class="h5">
                    <img  class="rounded mx-auto d-block" style="width: 25rem;"
                          src={{ asset('uploads/personnes/' ~ salle.image) }}  >
                    <a href=""></a>
                </td>

                <td>
                    <a class="nav-link" href="{{ path('app_salle_show', {'id': salle.id}) }}">
                        <i class="fa fa-book fa-fw" aria-hidden="true"></i>
                        <span>Afficher</span></a>

                    <a class="nav-link" href="{{ path('app_salle_edit', {'id': salle.id}) }}">
                        <i class="fa fa-cog fa-spin fa-1.75 fa-fw"></i>
                        <span class="sr-only">Loading...</span>

                        <span>Modifier</span></a>

                    <a class="nav-link" href="{{ path('app_salle_delete', {'id': salle.id}) }}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        <span>Supprimer</span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_salle_new') }}"><button class="btn btn-info">Ajouter Une Salle</button></a>

    <div class="navigation-pag" style="margin-left: 40%">
        <p>{{ knp_pagination_render(salles) }}</p>
    </div>
{% endblock %}

