<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>{% block title %} Baz'Art {% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{{  asset('client/images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{  asset("client/images/apple-touch-icon.png")}}">
    {% block css %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('client/css/bootstrap.min.css')}}">
        <!-- Site CSS -->
        <link rel="stylesheet" href="{{ asset('client/css/style.css')}}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{{ asset('client/css/responsive.css')}}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{  asset('client/css/custom.css')}}">


    {% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body>
{% block topbar %}
<!-- Start Main Top -->
<div class="main-top">


        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="our-link">
                        <ul>
                            <li><a href="/front/modify"><i class="fa fa-user s_color"></i> Mon Compte</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                    <div class="our-link" style="margin-left: 80%">
                        <ul>
                            <li><a href="/login"><i class="fa fa-user s_color"></i> Se Déconnecter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

</div>
<!-- End Main Top -->
{% endblock %}

<!-- Start Main Top -->

<header class="main-header">
    {% block navbar %}
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/ev/front"><img src="{{ asset('client/images/logo1.jpg') }}"   class="logo" alt=""></a>

                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="/ev/front">Acceuil</a></li>

                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">BOUTIQUE</a>
                            <ul class="dropdown-menu">
                                <li><a href="/ev/front/evenement">Evenements</a></li>
                                <li><a href="/shop">Oeuvres</a></li>
                                <li><a href="/salle/front/s">Salles</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="/reclamation/front">Passer Réclamation</a></li>
                        <li class="nav-item"><a class="nav-link" href="/default">Statistiques De Vos Commandes</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
{#                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>#}
                        <li class="side-menu">
                            <a href="#">
                                <i class="fa fa-shopping-bag"></i>
                                <span class="badge"></span>
                                <p>Panier</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>

                <!-- Start Side Menu -->
            {% block sidepanier %}
                {% set panier=getPanier() %}

                <div class="side">
                    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                    <li class="cart-box">
                        <ul class="cart-list">
                            {% for prod in panier %}
                                <li>
                                    <a href="#" class="photo"><img src="{{ asset('uploads/'~prod['image']) }}" class="cart-thumb" alt="" /></a>
                                    <h6><a href="#">{{ prod['nomProd'] }}</a></h6>
                                    <p>{{ prod['quantite']}} x <span class="price">{{ '$'~getPrixRemise(prod['idProd']) }}</span></p>
                                </li>
                            {% endfor %}

                            <li class="total">
                                <a href="{{ path('app_panier_index') }}" class="btn btn-default hvr-hover btn-cart" style="min-width: 220px;max-width: 220px">AFFICHER PANIER</a>
                                <a href="{{ path('app_commande_indexFront') }}" class="btn btn-default hvr-hover btn-cart" style="min-width: 220px;max-width: 220px">AFFICHER COMMANDES</a>
                                <a href="{{ path('app_facture_indexFront') }}" class="btn btn-default hvr-hover btn-cart" style="min-width: 220px;max-width: 220px">AFFICHER FACTURES</a>

                            </li>
                        </ul>
                    </li>
                </div>
            {% endblock %}
                <!-- End Side Menu -->

        </nav>
        <!-- End Navigation -->
    {% endblock %}
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div class="top-search">
    <div class="container">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
        </div>
    </div>
</div>
<!-- End Top Search -->



{% block body %}

{% endblock %}





<!-- Start Footer  -->

<footer>
    <div class="footer-main">
        <div class="container">


            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-widget">
                        <h4>A Propos De BAZ'ART</h4>
                        <p>BAZ'ART est une plateforme qui vous aide à bien organiser, gérer vos évènemts ainsi que de participer a des évènements</p>
                        <p>Vous pouvez ici participer a des évènements, réserver des salles pour organiser vos évènements ainsi que vous pouvez acheter des ouevres d'Art qui sont a votre disposition </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link">
                        <h4>Informations</h4>
                        <div class="footer-widget">
                            <p>Toute une équipe d'artistes qui a pour but votre satisfaction</p>
                            <p>Toute une équipe d'employés qui a assure le bien déroulement de vos évènements</p>
                            <p>Nous sommes 24h/24 et 7j/7 a votre disposition</p>
                            <p>Vous pouvez toujours profiter de nos réductions sur articles</p>
                            <p>Vous pouvez a tout moment réserver des salles à distance par juste un appel téléphonique</p>
                            <p>Soyez surs que vous serez totalement satisfaits par nos services</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="footer-link-contact">
                        <h4>Nous Contacter</h4>
                        <ul>
                            <li>
                                <p><i class="fas fa-map-marker-alt"></i>Address: Cité El Ghazela <br>Grouvernorat D'Ariana,<br> Tunisie</p>
                            </li>
                            <li>
                                <p><i class="fas fa-phone-square"></i>Numéro Téléphone: <a href="tel:+1-888705770">+216-71000000</a></p>
                            </li>
                            <li>
                                <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">BAZ'ART_BOUTIQUE@BAZART.TN</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer  -->

<!-- Start copyright  -->
<div class="footer-copyright">
    <p class="footer-company">All Rights Reserved. &copy; 2018 <a href="#">ThewayShop</a> Design By :
        <a href="https://html.design/">html design</a></p>
</div>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

{% block js %}
    <!-- ALL JS FILES -->
    <script src="{{ asset('client/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('client/js/popper.min.js') }}"></script>
    <script src="{{ asset('client/js/bootstrap.min.js') }}"></script>
    <!-- ALL PLUGINS -->
    <script src="{{ asset('client/js/jquery.superslides.min.js') }}"></script>
    <script src="{{ asset('client/js/bootstrap-select.js') }}"></script>
    <script src="{{ asset('client/js/inewsticker.js') }}"></script>
    <script src="{{ asset('client/js/bootsnav.js.') }}"></script>
    <script src="{{ asset('client/js/images-loded.min.js') }}"></script>
    <script src="{{ asset('client/js/isotope.min.js') }}"></script>
    <script src=" {{ asset('client/js/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('client/js/baguetteBox.min.js') }}"></script>
    <script src="{{ asset('client/js/form-validator.min.js') }}"></script>
    <script src=" {{ asset('client/js/contact-form-script.js') }}"></script>
    <script src=" {{ asset('client/js/custom.js') }}"></script>

{% endblock %}

<!-- Include Flashy default partial -->
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
</body>

</html>