<!DOCTYPE html>
<html lang="fr">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>BAZ'ARt</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{{ asset('client/images/img.png') }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ asset('client/images/img.png')}}">
    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ asset('client/css/bootstrap.min.css')}}">
        <!-- Site CSS -->
        <link rel="stylesheet" href="{{ asset('client/css/style.css')}}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{{ asset('client/css/responsive.css')}}">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ asset('client/css/custom.css')}}">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>

{% block body %}
    <body>

    <!-- Start Main Top -->
    <div class="main-top">


        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="our-link">
                        <ul>
                            <li><a href="/front/modify"><i class="fa fa-user s_color"></i> Mon Compte</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                    <div class="our-link" style="margin-left: 80%">
                        <ul>
                            <li><a href="/login"><i class="fa fa-user s_color"></i> Se Déconnecter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/ev/front"><img src="{{ asset('client/images/logo1.jpg')}}" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="/ev/front">Acceuil</a></li>

                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle arrow" data-toggle="dropdown">BOUTIQUE</a>
                            <ul class="dropdown-menu">
                                <li><a href="/ev/front/evenement">Evenements</a></li>
                                <li><a href="/shop">Oeuvres</a></li>
                                <li><a href="/salle/front/s">Salles</a></li>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="/reclamation/front">Passer Réclamation</a></li>
                        <li class="nav-item"><a class="nav-link" href="/default">Statistiques De Vos Commandes</a></li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
{#                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>#}
                        <li class="side-menu">
                            <a href="#">
                                <i class="fa fa-shopping-bag"></i>
                                <p>Panier</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>


                <!-- Start Side Menu -->
            {% block sidepanier %}
                {% set panier=getPanier() %}

                <div class="side">
                    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                    <li class="cart-box">
                        <ul class="cart-list">
                            {% for prod in panier %}
                                <li>
                                    <a href="#" class="photo"><img src="{{ asset('uploads/'~prod['image']) }}" class="cart-thumb" alt="" /></a>
                                    <h6><a href="#">{{ prod['nomProd'] }}</a></h6>
                                    <p>{{ prod['quantite']}} x <span class="price">{{ '$'~getPrixRemise(prod['idProd']) }}</span></p>
                                </li>
                            {% endfor %}

                            <li class="total">
                                <a href="{{ path('app_panier_index') }}" class="btn btn-default hvr-hover btn-cart" style="min-width: 220px;max-width: 220px">AFFICHER PANIER</a>
                                <a href="{{ path('app_commande_indexFront') }}" class="btn btn-default hvr-hover btn-cart" style="min-width: 220px;max-width: 220px">AFFICHER COMMANDES</a>
                                <a href="{{ path('app_facture_indexFront') }}" class="btn btn-default hvr-hover btn-cart" style="min-width: 220px;max-width: 220px">AFFICHER FACTURES</a>

                            </li>
                        </ul>
                    </li>
                </div>
            {% endblock %}

            <!-- End Side Menu -->
        </nav>
{#        {% endblock %}#}
        <!-- End Navigation -->
    </header>

    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{{ asset('client/images/img_1.jpg')}}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Bienvenue dans<br> BAZ'ART</strong></h1>
                            <p class="m-b-40">Voyez comment vos utilisateurs perçoivent votre site Web en temps réel ou visualisez <br> tendances pour voir tout changement de performance au fil du temps.</p>
{#                            <p><a class="btn hvr-hover" href="/shop">Nouveaute au boutique</a></p>#}
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{{ asset('client/images/img_2.jpg')}}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Bienvenue dans <br> BAZ'ART</strong></h1>
                            <p class="m-b-40">Voyez comment vos utilisateurs perçoivent votre site Web en temps réel ou visualisez <br> tendances pour voir tout changement de performance au fil du temps.</p>
{#                            <p><a class="btn hvr-hover" href="#">Nouveaute au boutique</a></p>#}
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{{ asset('client/images/img_3.jpg')}}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Bienvenue dans <br> BAZ'ART</strong></h1>
                            <p class="m-b-40">Voyez comment vos utilisateurs perçoivent votre site Web en temps réel ou visualisez <br> tendances pour voir tout changement de performance au fil du temps.</p>
{#                            <p><a class="btn hvr-hover" href="#">Nouveaute au boutique</a></p>#}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->

    <!-- End Categories -->



    <!-- Start Products  -->
<br><br><br>

    <div class="title-all text-center">
        <h1 >Produits Exemplaires</h1>
    </div>
    <div class="categories-shop">
        <div class="container">
            <div class="row">
                {% set count=1%}
                {% set break = false %}
                {% for produit in produits %}
                    {% if  not break %}
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box" style="min-width: 300px;max-width: 300px;min-height: 300px;max-height: 400px; ">
                                <img class="img-fluid" src="{{ asset('uploads/' ~ produit.imagem1) }}"  style="object-fit:contain;  height: 350px;max-width: 350px;">
                                <a class="btn hvr-hover" href="{{ path('app_shop_show',{'idprod':produit.idprod}) }}">{{ produit.nomprod}}</a>
                            </div>
                        </div>
                        {% set count=count+1%}
                        {% if count==7 %}
                            {% set break = true %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>


            <div class="title-all text-center">
                <h1>Nos Salles</h1>
            </div>
            <div class="categories-shop">
                <div class="container">
                    <div class="row">
                        {% set count=1%}
                        {% set break = false %}
                        {% for salle in salles %}
                            {% if  not break %}
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <div class="shop-cat-box" style="min-width: 300px;max-width: 300px;min-height: 300px;max-height: 400px">
                                    <img class="img-fluid" src="{{ asset('uploads/personnes/' ~ salle.image) }}" style="object-fit:contain;">
                                    <a class="btn hvr-hover" href="{{ path('app_salle_front_show', {'id': salle.id}) }}">{{ salle.nom }}</a>
                                </div>
                            </div>
                                {% set count=count+1%}
                                {% if count==7 %}
                                    {% set break = true %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
{#        </div>#}
    <!-- End Products  -->

    <!-- Start Event  -->


{#    <div class="products-box">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="title-all text-center">#}
{#                        <h1>Evènements</h1>#}
{#                        <h3>Liste des évènements programmés </h3>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
{#                    <div class="special-menu text-center">#}
{#                        <div class="button-group filter-button-group">#}
{#                            <button class="active" data-filter="*">Tout</button>#}
{#                            <button data-filter=".top-featured">Top </button>#}
{#                            <button data-filter=".best-seller">Les plus aimeées</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}


    <div class="title-all text-center">
        <h1>Evènements Récents </h1>
    </div>
        <div class="categories-shop">
            <div class="container">
                <div class="row">
                    {% set count=1%}
                    {% set break = false %}
                    {% for evenement in evenements %}
                        {% if  not break %}
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="shop-cat-box" style="min-width: 300px;max-width: 300px;min-height: 300px;max-height: 400px">
                                <img class="img-fluid" src="{{ asset('uploads/personnes/' ~ evenement.image1) }}" style="object-fit:contain;">
                                <a class="btn hvr-hover" href="{{ path('app_event_show', {'id': evenement.id}) }}">{{ evenement.NomEvent }}</a>
                            </div>
                        </div>
                        {% set count=count+1%}
                            {% if count==7 %}
                                {% set break = true %}
                                {% endif %}
                        {% endif %}

                    {% endfor %}

                </div>
            </div>
        </div>
{#    </div>#}



    <!-- End Blog  -->




    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">


                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-widget">
                            <h4>A Propos De BAZ'ART</h4>
                            <p>BAZ'ART est une plateforme qui vous aide à bien organiser, gérer vos évènemts ainsi que de participer a des évènements</p>
                            <p>Vous pouvez ici participer a des évènements, réserver des salles pour organiser vos évènements ainsi que vous pouvez acheter des ouevres d'Art qui sont a votre disposition </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link">
                            <h4>Informations</h4>
                            <div class="footer-widget">
                                <p>Toute une équipe d'artistes qui a pour but votre satisfaction</p>
                                <p>Toute une équipe d'employés qui a assure le bien déroulement de vos évènements</p>
                                <p>Nous sommes 24h/24 et 7j/7 a votre disposition</p>
                                <p>Vous pouvez toujours profiter de nos réductions sur articles</p>
                                <p>Vous pouvez a tout moment réserver des salles à distance par juste un appel téléphonique</p>
                                <p>Soyez surs que vous serez totalement satisfaits par nos services</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-link-contact">
                            <h4>Nous Contacter</h4>
                            <ul>
                                <li>
                                    <p><i class="fas fa-map-marker-alt"></i>Address: Cité El Ghazela <br>Grouvernorat D'Ariana,<br> Tunisie</p>
                                </li>
                                <li>
                                    <p><i class="fas fa-phone-square"></i>Numéro Téléphone: <a href="tel:+1-888705770">+216-71000000</a></p>
                                </li>
                                <li>
                                    <p><i class="fas fa-envelope"></i>Email: <a href="mailto:contactinfo@gmail.com">BAZ'ART_BOUTIQUE@BAZART.TN</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">Soyez la bienvenue chez nous nous sommes ici juste pour vous
            </p>
    </div>

    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
    {% block javascripts %}
        <!-- ALL JS FILES -->
        <script src="{{ asset('client/js/jquery-3.2.1.min.js')}}"></script>
        <script src="{{ asset('client/js/popper.min.js')}}"></script>
        <script src="{{ asset('client/js/bootstrap.min.js')}}"></script>
        <!-- ALL PLUGINS -->
        <script src="{{ asset('client/js/jquery.superslides.min.js')}}"></script>
        <script src="{{ asset('client/js/bootstrap-select.js')}}"></script>
        <script src="{{ asset('client/js/inewsticker.js')}}"></script>
        <script src="{{ asset('client/js/bootsnav.js.')}}"></script>
        <script src="{{ asset('client/js/images-loded.min.js')}}"></script>
        <script src="{{ asset('client/js/isotope.min.js')}}"></script>
        <script src="{{ asset('client/js/owl.carousel.min.js')}}"></script>
        <script src="{{ asset('client/js/baguetteBox.min.js')}}"></script>
        <script src="{{ asset('client/js/form-validator.min.js')}}"></script>
        <script src="{{ asset('client/js/contact-form-script.js')}}"></script>
        <script src="{{ asset('client/js/custom.js')}}"></script>
    {% endblock %}


    </body>
{% endblock %}

</html>